*{
    margin: 0;

}

body,html{
    background-color: rgb(140, 10, 140);
    height: 100%;
    overflow-y: hidden;
}
.geral{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    
}
.geral div{
    background-color: whitesmoke;
    margin: 2%;
    
}
.centro{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}
.barraPesq{
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 5%;
    height: 7%;
}
.barraPesq input{
    width: 85%;
    border-radius: 20px;
}
.barraPesq button{
    width: 15%;
    height: 100%;
    border-radius:20px;
}


.historico{
    overflow: auto;
    height: 100%;
    border-radius: 0px;
}

.historico table{
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px;
}



.geral .erp, .geral .registro{
    width: 25%;
    box-shadow: 5px 10px 10px black;
    border-radius: 10px;
}

.erp{
    display: flex;
    flex-direction: column;


    text-align: center;
    justify-content: space-between;
}


.erp .functions{
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-between;
    height: 25%;
    border-radius: 20px;

}
.functions button{
    background-color:whitesmoke;
    height: 45%;
    border-radius: 10px;
    font-size: 15px;
    transition-duration: 200ms;
    margin: 10 px;

}
.functions button:nth-child(2):hover{
    box-shadow: 2.5px 5px 5px black;
    border: 0 none;
    transform: scale(1.1);
    background-color: purple;
    color: whitesmoke;
}
.functions button:nth-child(2){
    box-shadow: 2.5px 5px 5px black ;
    border: 2px solid purple;
    background-color: whitesmoke;
    color: purple;
}

.functions button:nth-child(3):hover{
    box-shadow: 2.5px 5px 5px black;
    border: 0 none;
    transform: scale(1.1);
    background-color: purple;
    color: whitesmoke;
}
.functions button:nth-child(3){
    box-shadow: 2.5px 5px 5px black ;
    border: 2px solid purple;
    background-color: whitesmoke;
    color: purple;
}



.functions button:active{
    transform: scale(1);
}

.functions button:nth-child(1){
    box-shadow: 2.5px 5px 5px black ;
    border: 2px solid red;
    background-color: whitesmoke;
    color: red;
}
.functions button:nth-child(1):hover{
    box-shadow: 2.5px 5px 5px black ;
    border: 0 none;
    transform: scale(1.1);
    background-color: red;
    color: whitesmoke;
    border:0 none ;
}


.foto{
    height: 200px;
    background-color: lightgrey;
    border-radius: 50%;
}

.registro{
    display: flex;
    flex-direction: column;
    row-gap: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}


.historico::-webkit-scrollbar{
    background-color: black;
    width: 5px;
    
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.historico::-webkit-scrollbar-thumb{
    background-color: purple;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


.registro .a{
    margin: 5px;
}
.a select, .a button{
    border-radius: 20px;
}


.regAlug{
    display: flex;
    flex-direction: column;
    gap: 2%;
    
    height: fit-content;
}
.regAlug table, td, th{
    border: 1px solid black;
    border-collapse: separate;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
}

.regAlug {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    text-align: center;
    align-items: center;


}

#tabela > tr{
    width: 100%;
}


.pendencia{
    padding: 10px;
    color: red;
}

.chrAlug{
    border: 2px solid red;
    border-radius:10px;
    background-color: gray;
    box-shadow: 2.5px 5px 5px black;
}

.chrAlug a {
    text-decoration: none;
    color: purple;

}
