
  
.modal-container {
  width: 100vw;
  height: 100vh; /* garante que cubra a tela toda */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: flex-start; /* deixa ele um pouco abaixo do topo */
  padding-top: 30px; /* o mesmo efeito do top anterior */
}

  .fundo-texto{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius:10px ;
  }

  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color:var(--corTerciaria);
    border-radius: 15px;
    width: 50%;
    color: #121312;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;

  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .btnOK {
   background-color: var(--corTerciaria)!important;
  }
  
  .btnClose {
    background-color: var(--corPrincipal)!important;
   }
  :root {
    --corPrincipal: #ad0013;
    --corSecundaria: #ad0014b2;
    --corFundo: #121312;
    --corTerciaria: #01344f;
}


@media (max-width: 768px) {
  .modal {
    padding: 15px;
    width: 90%;        /* mais estreito */
    margin: 0 10px;    /* 👈 espaço lateral nas bordas */
  }

  span, .btns button {
    font-size: smaller;
  }
}
